<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title></title>
    <style>
        body {
            background: url("./img/bg.gif") repeat center top;
        }
        #app {
            padding: 20px;
        }
        h3 {
            text-align: center;
            margin-bottom: 20px;
        }
        p {
            text-align: center;
            color: #616161;
        }
        v-app {
            display: none;
        }
    </style>
</head>

<body>
    <div id="app">
        <v-app id="inspire" v-show="true">
            <v-card style="padding: 20px;">
                <h3>{{ clanName }} 会战记录</h3>
                <div style="margin-bottom: 10px;">
                    <v-menu bottom offset-y :disabled="isLoading">
                        <template v-slot:activator="{ on, attrs }">
                            <v-btn
                                color="primary"
                                dark
                                v-bind="attrs"
                                v-on="on"
                            >
                            展示类型
                            </v-btn>
                        </template>
                        <v-list>
                            <v-list-item
                                v-for="(item, index) in dspTypeList"
                                :key="index"
                                @click="open(item.value)"
                            >
                            <v-list-item-title>{{ item.name }}</v-list-item-title>
                            </v-list-item>
                        </v-list>
                    </v-menu>

                    <v-menu bottom offset-y :disabled="isLoading">
                        <template v-slot:activator="{ on, attrs }">
                            <v-btn
                                color="primary"
                                dark
                                v-bind="attrs"
                                v-on="on"
                            >
                            选择会战日期
                            </v-btn>
                        </template>
                        <v-list>
                            <v-list-item
                                v-for="(item, index) in dateList"
                                :key="index"
                                @click="date = item"
                            >
                            <v-list-item-title>{{ item }}</v-list-item-title>
                            </v-list-item>
                        </v-list>
                    </v-menu>
                </div>

                <v-text-field
                    v-model="search"
                    append-icon="mdi-magnify"
                    label="搜索"
                    single-line
                    hide-details
                    solo
                    ></v-text-field>

                <v-data-table
                    :loading-text="loadingText"
                    :loading="members.length == 0 || isLoading"
                    :locale="`zh-cn`"
                    :headers="headers"
                    :items="members"
                    :search="search"
                    :disable-pagination="true"
                    :hide-default-footer="true"
                >
                    <template v-slot:item.no="{ item }">
                        <span>{{ counter() }}</span>
                    </template>
                </v-data-table>
                
                <br>
                <p>
                    <span v-show="footerMsg">
                        {{ footerMsg }}
                        <br>
                    </span>
                    Made by GitHub@PinkChampagne17
                    <a href='https://github.com/mahomahoohkoku/mahomahoohkoku.github.io'>Source code</a>
                </p>
            </v-card>
        </v-app>
    </div>
</body>

<script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.11/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script src="./controller/index-controller.js"></script>
<script>
    // document.getElementsByClassName('v-application--wrap')[0].style.minHeight = "auto";
</script>
